html {
	font-size: 75px;
	overflow: hidden;
}

#header {
	width: 8.53333rem;
	height: 1.4rem;
    margin: 0 auto;
    position: relative;
    border-bottom: .02667rem solid #e6e8eb;
    overflow: hidden;
    font-size: 0.6rem;
    padding-top: 0.6rem;
}

#header-list {
	width: 19.6rem;
	overflow: hidden;
	font-size: .7rem;
}

#header-list li {
	display: inline;
}